# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
venv/
env/

# VSCode or PyCharm settings
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and databases
*.log
*.sqlite3

# MacOS files
.DS_Store

# Environment variables
.env
